.up img{
    height: 400px;
    box-align: right;

}

.up{
    text-align: right;
}

.upload img{
    height: 150px;
    width: 300px;
    margin: 20px;
}
.h1{
    font-family: "Times New Roman", Times, serif;
}